[alias]
	st = status
	co = checkout
	ci = commit
	br = branch
	pullom = pull origin master
	pushom = push origin master
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	incoming = log HEAD..origin
	outgoing = log origin..HEAD
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	ignored = !git ls-files -v | grep "^[[:lower:]]"
	whamzilla = push --no-verify origin master
	dm = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
[user]
	name = oboyle
	email = oboyle.todd@gmail.com
[color]
	ui = true
[core]
	excludesfile = /Users/oboyle/.gitignore
[url "git@github.com:"]
	insteadOf = git://github.com/
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
